<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Diagnostic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.org.Controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.org.Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.tricare.signup.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.org.Controller.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/Doctor/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CReportServlet</display-name>
    <servlet-name>CReportServlet</servlet-name>
    <servlet-class>com.org.Controller.CReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CReportServlet</servlet-name>
    <url-pattern>/Customer/CReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentServlet</display-name>
    <servlet-name>AgentServlet</servlet-name>
    <servlet-class>com.org.Controller.AgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentServlet</servlet-name>
    <url-pattern>/Customer/AgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorController</display-name>
    <servlet-name>AddDoctorController</servlet-name>
    <servlet-class>com.tricare.adddoctor.AddDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorController</servlet-name>
    <url-pattern>/AddDoctorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckupController</display-name>
    <servlet-name>CheckupController</servlet-name>
    <servlet-class>com.tricare.checkup.CheckupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckupController</servlet-name>
    <url-pattern>/Customer/CheckupController</url-pattern>
  </servlet-mapping>
</web-app>